<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.test.junior.mapper.InteractionMapper">
    <select id="getExistingInteraction" resultType="java.lang.Boolean">
        SELECT is_like
        FROM product_interactions
        WHERE user_id = #{userId}
          AND product_id = #{productId}
    </select>

    <insert id="insertInteraction">
        INSERT INTO product_interactions (user_id, product_id, is_like)
        VALUES (#{userId}, #{productId}, #{isLike}) ON CONFLICT (user_id, product_id)
        DO
        UPDATE SET is_like = EXCLUDED.is_like
    </insert>
</mapper>
